<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create customer</title>
</head>
<body>
<h1><a href="/create">create blog</a></h1>
<h1>list blog</h1>
<table>
    <tr th:each="blog: ${blogs}">
        <td th:text="${blog.id}"></td>
        <td th:text="${blog.tittle}"></td>
        <td><a th:href="@{/update/__${blog.id}__}">update</a> </td>
        <td><a th:href="@{/view/__${blog.id}__}">view</a> </td>
        <td><a th:href="@{/delete/__${blog.id}__}">delete</a> </td>
    </tr>
</table>
</body>
</html>